<div *ngIf="recipe$; else loading">
  <h1>{{ recipe$.title }}</h1>
  <p><strong>Description:</strong> {{ recipe$.description }}</p>
  <h3>Ingredients:</h3>
  <ul>
    <li *ngFor="let ingredient of recipe$.ingredients">
      {{ ingredient.quantity }} {{ ingredient.quantityType }} {{ ingredient.name }}
    </li>
  </ul>
</div>

<button class="btn btn-primary" (click)="back()">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<ng-template #loading>
  <p>Loading recipe...</p>
</ng-template>
